@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  
  .modal h2 {
    margin-bottom: 16px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 8px;
  }
  
  .modal input,
.modal textarea {
  padding: 8px;
  margin-bottom: 0.5rem;
  background-color: rgba(173, 172, 172, 0.192);
  border-radius: 5%;
  @apply block w-full p-2 mb-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500;
}

.form-group {
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
